

.carousel-inner img{
    width: 100%;
    height:70vh;
}
.form{
         font-family: "Courier 10 Pitch";
         font-size: 32px;
         color: goldenrod;
         border-color: black;
         text-decoration: blink;
         padding: 20px;
          background-color: grey;
         border-radius: 9px;
         height: 400px;
         margin: 20px;
}
